/* html {
  background-image: url("../img/Profesionales.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  opacity: 0.6;
  margin: 0;
  padding: 0;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Membership {
    padding-top: 0rem;
    background-color: #fff;
    padding-bottom: 0;
}

.Membership-title {
    background-color: #59ab9f;
    color: #fff;
    font-family: 'Century Gothic';
    padding: 2.8rem 0 3.6rem 0;
    font-size: 1.85rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.Membership-image {
    width: 24.3rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.Membership-content {
    padding: 0 1rem;
}

.Membership-item {
    text-align: left;
    padding-left: 0.2rem;
    margin-bottom: 2.1rem;
}

.Membership-item:nth-child(3) {
    margin-bottom: 3rem;
}

.Membership-item img {
    width: 3.6rem;
    height: auto;
    object-fit: cover;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
}

.Membership-item:nth-child(4) {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 2.1rem;
}

.Membership-item:nth-child(4) img {
    width: 4.4rem;
}

.Membership-item-title {
    font-family: 'Century Gothic';
    font-size: 1.55rem;
    margin-bottom: 1.2rem;
    font-weight: 700;
}

.Membership-item-text {
    font-size: 1.3rem;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 2.15rem;
}

.Membership-frequency {
    padding-top: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Membership-frequency-title {
    color: #575550;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2.1rem;
}

.Membership-frequency-text {
    text-align: left;
    color: #575550;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 1.23rem;
    padding-left: 0.4rem;
    margin-bottom: 1.5rem;
}

.Membership-frequency-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.4rem;
}

.Membership-frequency-option {
    margin-right: 2.6rem;
    display: flex;
    align-items: center;
}

.Membership-frequency-option:last-child {
    margin-right: 0rem;
}

.Membership-frequency-option input {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.4rem;
}

.Membership-frequency-option label {
    font-family: 'Century Gothic';
    font-weight: 600;
    color: #575550;
    font-size: 1rem;
}

.Membership-frequency-options {
    margin-bottom: 2.4rem;
}

.Membership-plan {
    background-color: #fff;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    border-radius: 22px;
    box-shadow: 2.877px 2.779px 7px rgba(0,0,0,0.1);
    padding-bottom: 2.1rem;
}

.Membership-plan-name {
    background-color: #59ab9f;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.65rem;
    font-family: 'Century Gothic';
}

.Membership-plan-price {
    color: #575550;
    font-weight: 700;
    font-size: 2.4rem;
    font-family: 'Century Gothic';
    background-color: #e2eeec;
    padding-top: 0.8rem;
    padding-bottom: 1.1rem;
    position: relative;
    margin-bottom: 0.3rem;
}

.Membership-plan-price span{
    font-size: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 28%;
    font-family: 'Open Sans';
    font-weight: 400;
}

.Membership-plan-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 1.2rem 0.55rem 1.2rem;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 0;
}

.Membership-plan-text {
    color: #575550;
    font-weight: 600;
    font-family: "Open Sans";
    font-size: 1.05rem;
    text-align: left;
    width: 230px;
    margin-bottom: 0;
}

.Membership-plan-value {
    color: #575550;
    font-weight: 600;
    font-family: "Open Sans";
    font-size: 1.05rem;
    margin-bottom: 0;
}

.Membership-plan-button {
    margin-top: 2rem;
    width: 12.2rem;
    padding: 0.9rem;
    font-size: 1.35rem;
    border-radius: 32px;
    font-family: 'Century Gothic';
    color: #fff;
    font-weight: 700;
    background-color: #59ab9f;
    border: 0;
}

.Membership .section6 {
    padding-bottom: 0;
}

.Membership .section6 .accordion-item {
    border-bottom: 1px solid #d4d4d4;
}