.AddTokens{
    font-size: 1.2rem;
    padding: 1.5rem 1rem 0;
    font-family: 'Open Sans';
}
.AddTokens-title{
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.1rem;
}
.AddTokens-titleActions{
    margin-left: auto;
    display: flex;
    gap: 1rem;
}
.AddTokens-titleActions button{
    border: none;
    background-color: transparent;
    outline: none;
}
.AddTokens-titleActions button img{
   height: 24px;
   width: 24px;
}
.AddTokens-paymentMethod-selectedMethod{
    border: 1px solid #e4e5e7;
    border-right: none;
    border-left: none;
    display: flex;
    font-weight: 500;
    font-size: 1.06rem;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
}
.AddTokens-paymentMethod-optionIcon img,
.AddTokens-paymentMethod-btn img {
    height: 1.6rem;
    object-fit: contain;
    object-position: center;
    width: 1.6rem;
}
.AddTokens-paymentMethod-optionIcon{
    margin-right: 1.3rem;
}
.AddTokens-paymentMethod-btn{
    margin-left: auto;

    background-color: transparent;
    border: none;
    color: #16619a;
    font-weight: 500;
    outline: none;
    padding: 0;
}
.AddTokens-paymentMethod-btnIcon{
    margin-right: .2rem;
}
.AddTokens-paymentMethod-options{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}
.AddTokens-paymentMethod-option{
    border: none;
    background-color: transparent;
    display: flex;
    outline: none;
    text-align: left;
    padding: .5rem 0;
}
.AddTokens-info{
    margin: 1rem 0 1.5rem;
}
.AddTokens-info .AddTokens-title{
    margin-bottom: 0.2rem;
}
.AddTokens-description{
    color: #a5acb4;
    font-size: .84rem;
}
.AddTokens-detailsImg{
    margin-top: 1rem;
    width: 100%;
}
.AddTokens-input{
    color: #a5acb4;
    margin-top: 1rem;
    font-size: 1rem;
}
.AddTokens-input input{
    border: 2px solid #e4e5e7;
    border-radius: 2px;
    display: block;
    margin-top: .5rem;
    padding: 0.5rem 0.2rem;
    width: 12rem;
}
.AddTokens-text{
    color: #575550;
    margin: 0;
    font-size: 0.95rem;
    font-weight: 00;
}
.AddTokens-mentions{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.AddTokens-titleMention{
    color: #575550;
    font-size: 1.1rem;
    font-weight: 400;
}
.AddTokens-btn{
    background-color: #5aab9f;
    width: 11rem;
    border: 0;
    border-radius: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1rem;
    margin-top: 2.6rem;
    margin-left: auto;
    margin-right: auto;
}